body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(120deg, #0a0a0a, #0f0f0f);
    position: relative;
}

.background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('china-landscape.jpg');
    background-size: cover;
    z-index: -2;
    animation: moveBackground 30s linear infinite;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    z-index: 1000;
    text-align: center;
}

section {
    padding-top: 60px;
    text-align: center;
    z-index: 1;
}

.typewriter p {
    display: inline-block;
    border-right: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
    font-size: 20px;
    color: white;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}

.btn {
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #488aec;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #fff;
    color: #488aec;
    transform: translateY(-3px);
}

@media (max-width: 600px) {
    header, .typewriter p, .btn {
        padding: 5px 10px;
        font-size: 14px;
    }

    .btn {
        padding: 12px 24px; /* Più grandi per facilitare il tocco */
        margin: 10px; /* Maggiore spazio tra i bottoni */
    }
}
