body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: black;
}

.animated-background {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(141deg, #d40000 0%, #ffcc00 75%);
    background-size: 150% 150%;
}

.star {
    position: absolute;
    width: 3px;
    height: 3px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 8px white;
    animation: flicker 3s infinite alternate, float 5s infinite;
}

@keyframes flicker {
    0%, 100% {opacity: 1;}
    50% {opacity: 0.5;}
}

@keyframes float {
    0%, 100% {transform: translate(0, 0);}
    50% {transform: translate(5px, -10px);}
}

.wave, .wave2, .wave3, .wave4 {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-radius: 50% / 20%;
    animation: waveMotion 6s ease-in-out infinite;
}

.wave { height: 50px; background: rgba(255, 0, 0, 0.6); opacity: 0.5; }
.wave2 { height: 60px; background: rgba(255, 255, 0, 0.816); opacity: 0.4; bottom: 20px; }
.wave3 { height: 70px; background: rgba(255, 204, 0, 0.3); opacity: 0.3; bottom: 40px; }
.wave4 { height: 80px; background: rgba(255, 0, 0, 0.2); opacity: 0.2; bottom: 60px; }

@keyframes waveMotion {
    0%, 100% {transform: translateY(0) scaleX(1);}
    50% {transform: translateY(-20px) scaleX(1.2);}
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%); /* Spostato leggermente più in alto */
    text-align: center;
    z-index: 10;
    width: 100%;
}

.center-image {
    width: 250px; /* Dimensione aumentata */
    height: auto;
    margin-bottom: 20px;
}

.text {
    text-align: center;
    color: white;
    font-family: "Jaro", sans-serif;
    margin-bottom: 20px;
}

.title {
    font-size: 38px; /* Più grande e in grassetto */
    font-weight: bold;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 28px; /* Medio e in grassetto */
    font-weight: bold;
    margin-bottom: 5px;
}

.address {
    font-size: 18px; /* Più piccolo e in grassetto */
    font-weight: bold;
}


.buy-button {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 5px; /* Ridotto lo spazio sopra il bottone */
}

